@tailwind base;
@tailwind components;
@tailwind utilities;

/* Allow the whole page to scroll */
html, body, #root {
  height: 100%;
}
html, body {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch; /* smoother scroll on iOS */
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid SanQs', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
